/* Write your custom CSS here */
.btn-logout {
  display: block;
  text-align: left;
  width: 100%;
  background: transparent;
  border: 0;
  padding: 10px;
}
.delete {
  cursor: pointer;
}
input[type="radio"] {
  margin-left: -9px !important;
}
input[type="file"].form-control {
  padding: 0px !important
}
select.form-control {
  height: auto !important;
  padding: 8px !important;
}