body, html {
  height: 100% !important;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.box-floating {
  margin-top: 10%;
}

.box-floating .panel-heading {
  color: #FFF;
} 

.box-floating input {
  border: 2px solid #F3F9F9 !important;
  background: #FFF;
}

.bg-dark-blue {
  background: #184F78 !important;
}

.admin-container {
  height: 100%;
  padding: 0 !important;
}

.admin-container .nav-sidebar {
  height: 100%;
  background: #184F78;
  position: fixed;
  padding: 0 20px;
}

@media only screen and (max-width: 991px){
    .admin-container .nav-sidebar {
      position: relative;
      height: 35%;
    }
}

.admin-container .nav-sidebar .sidebar-menu {
  position: absolute;
  bottom: 10px;
  text-align: center;
}

.admin-container .nav-sidebar .sidebar-menu a {
  color: #FFF;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.admin-container .nav-sidebar .sidebar-menu ul li {
  margin-bottom: 20px;
}

.admin-container .nav-sidebar .sidebar-menu .btn-logout {
  border: 0;
  background: none;
  color: #FFF;
}

.admin-container .nav-menu ul li a {
  color: #333;
  padding: 10px;
  display: block;
  font-weight: bold;
}

.admin-container .nav-menu ul li a:hover {
  color: #184F78;
  text-decoration: none;
}

.admin-container .admin-content {
  margin-top: 15px;
}
.sidebar-menu{
  color: #fff;  
}

.nav-menu .active{
  background-color: #e3f1f4;
  border-radius: 15px;
  color:#3f7da1 !important;
}
.blue{
  color:#3f7da1;
}